{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1>Create new Users</h1>
{{ form_start(form) }}
    <div class="d-flex justify-content-center bg-primary">
		<div class="row col-lg-6 col-md-8 mb-4 fw-bold">
			{% block form_row %}
				<div class="form_row p-2">
					{{ form_label(form.name, 'Nom') }}
				</div>
				{{ form_widget(form.name) }}
				{{ form_errors(form.name) }}
				<div class="form_row p-2">
					{{ form_label(form.lastname, 'Nom') }}
				</div>
				{{ form_widget(form.lastname) }}
				{{ form_errors(form.lastname) }}
				<div class="form_row p-2">
					{{ form_label(form.age, 'Âge') }}
				</div>
				{{ form_widget(form.age) }}
				{{ form_errors(form.age) }}
				<div class="form_row p-2">
					{{ form_label(form.weight, 'Nom') }}
				</div>
				{{ form_widget(form.weight) }}
				{{ form_errors(form.weight) }}
				<div class="form_row p-2">
					{{ form_label(form.role_coach, 'Nom') }}
				</div>
				{{ form_widget(form.role_coach) }}
				{{ form_errors(form.role_coach) }}
				<div class="form_row p-2">
					{{ form_label(form.role_licensee, 'Nom') }}
				</div>
				{{ form_widget(form.role_licensee) }}
				{{ form_errors(form.role_licensee) }}
				<div class="form_row p-2">
					{{ form_label(form.lastname, 'Nom') }}
				</div>

				<div class="row">

					<div class="col-6 p-3">
						<button class="btn btn-primary text-light">{{ button_label|default('Enregistrer') }}</button>
					</div>
				</div>
			{% endblock form_row %}
		</div>
            <div class = "d-flex justify-content-end m-3 p-3">
                <a href="{{ path('users_index') }}">retour à la liste</a>
            </div>
        </div>
    <div>
{{ form_end(form) }}
    {{ include('users/_form.html.twig') }}

    <a href="{{ path('users_index') }}">back to list</a>
{% endblock %}
